<div style="display: flex">
    <span style="color: greenyellow">user</span>
    <span style="color: gray">@@</span>
    <span style="color: greenyellow">web</span>
    <span style="color: gray">:</span>
    <span style="color: cyan">~</span>
    <span style="color: gray">$</span>
</div>
