<MudCard Style="margin-bottom:6rem;background: #222831; min-height: 50rem; padding: 1rem;">
    <TerminalButtons/>
    <WelcomeScreen/>
    <div style="font-size: 1.5rem; color: white;">
    @foreach(var result in results)
    {
        <div style="display: flex;">
            <div style="padding-top: 0.35%" >
                <Prompt/>
            </div>
            <div style="padding-top: 0.4%; padding-left: 0.38%;">
                @result.input
            </div>
        </div>
        @result.output.Render()
    }
    </div>
    <div style="display: flex; font-size: 1.5rem;">
        <div style="padding-top: 0.35%"><Prompt/></div>
        <input autocomplete="off" autofocus="true" type='text' id='name' @bind="input" @onkeyup="HandleKeyDown"  />
    </div>
</MudCard>

@code {
    [Inject]
    private Shell shell { get; set; }

    private List<(string input, ITerminalCommand output)> results = new(); 

    private string input = "";

    private void HandleKeyDown(KeyboardEventArgs e)
    {
        if(e.Key == "Enter")
        {
            results.Add((input, shell.Execute(input)));
            input = "";
        }
    }
}

