<MudCard  Class="mud-elevation-4 py-8 px-10 rounded-lg mud-theme-primary" Style="margin-bottom:5vh; min-height: 90vh;">
    <TerminalButtons/>
    <WelcomeScreen/>
    @foreach(var result in results)
    {
        <div style="display: flex;">
            <div style="padding-top: 0.35%" >
                <Prompt/>
            </div>
            <div style="padding-top: 0.4%; padding-left: 0.38%;">
                @result.input
            </div>
        </div>
        @result.output.Render()
    }
    <div style="display: flex;">
        <div style="padding-top: 0.35%"><Prompt/></div>
        <input class="mud-theme-primary" autocomplete="off" autofocus="true" type='text' id='name' @bind="input" @onkeyup="HandleKeyDown"  />
    </div>
</MudCard>

@code {
    [Inject]
    private Shell shell { get; set; }

    private List<(string input, ITerminalCommand output)> results = new(); 

    private string input = "";

    private void HandleKeyDown(KeyboardEventArgs e)
    {
        if(e.Key == "Enter")
        {
            results.Add((input, shell.Execute(input)));
            input = "";
        }
    }
}

