<div class="ascii-art" style="white-space: pre; text-align: center; color: lime">
    <pre style="color: lime">@consoleText</pre>
    <div>@copyright</div>
</div>
<p> 
    Hey there, I'm Adrian Portales, a software engineer deeply passionate about software internals, 
    especially on databases and distributed systems. Feel free to
    explore my projects and insights in this digital space :)  
</p>

@code {
    private string copyright = @$"© {DateTime.Now.Year} Adrian Portales";
    private string consoleText = @"
          __     __     ______     __         ______     ______     __    ____     ______   
         /\ \  __\ \   /\  ___\   /\ \       /\  ___\   /\  __ \   /\ \__/  \ \   / \ ___\   
         \ \ \/ _ \ \  \ \  ___\  \ \ \____  \ \ \____  \ \ \_\ \  \ \ \--\  \ \  \  \ ___\   
          \ \__/ \ \_\  \ \_____\  \ \_____\  \ \_____\  \ \_____\  \ \_\  \  \_\  \  \____\ 
           \/_/   \/_/   \/_____/   \/_____/   \/_____/   \/_____/   \/_/   \_/_/   \/_____/ 
";
}
