<div style="display: flex">
    <span class="mud-secondary-text">user</span>
    <span style="color: gray">@@</span>
    <span class="mud-secondary-text">web</span>
    <span style="color: gray">:</span>
    <span class="mud-tertiary-text">~</span>
    <span style="color: gray">$</span>
</div>
