<div class="mud-secondary-text" style="text-align: center;">
    <pre>
dP   dP   dP          dP                                       
88   88   88          88                                       
88  .8P  .8P .d8888b. 88 .d8888b. .d8888b. 88d8b.d8b. .d8888b. 
88  d8'  d8' 88ooood8 88 88'  `"" 88'  `88 88'`88'`88 88ooood8 
88.d8P8.d8P  88.  ... 88 88.  ... 88.  .88 88  88  88 88.  ... 
8888' Y88'   `88888P' dP `88888P' `88888P' dP  dP  dP `88888P' 
    </pre>
    <div style="font-size: 15px;">@copyright</div>
</div>
<p> 
    Hey there, I'm Adrian Portales, a software engineer deeply passionate about software internals, 
    especially on databases and distributed systems. Feel free to
    explore my projects and insights in this digital space. You can start by typing the <b style="color: gray">help</b> command. 
</p>

@code {
    private string copyright = @$"© {DateTime.Now.Year} Adrian Portales";
}
